@use "../../utils/variables";
@use "../../utils/mixins";

/* ***** SECTION SEARCH ***** */
.search{
    text-align: center;
    background-color: variables.$color-bg;

    @include mixins.tablette {
        width: 50%;
    }
    
    &__form{
        background-color: darken(variables.$color-bg, 5%);

        > *{
            font-size: 104%;
        }

        input{
            padding: 14px 15px;
            background-color: darken(variables.$color-bg, 5%);   
            font-weight: bold;
            border: none;

            &::placeholder{
                opacity: 0.7;
            }
    
            &:focus-visible{
                outline: none;
            }
    
            @include mixins.tablette {
                padding: 25px 15px;
            }
        }
    }

    &__heading{
        padding: 35px 25px 50px;

        @include mixins.tablette {
            margin-top: 25px;
        }

        h1{
            font-size: 150%;
        }

        &-info{
            font-weight: 300;
            padding: 10px 0 25px;
            opacity: 0.75;
        } 
    }
}