@use "../../utils/variables";
@use "../../utils/mixins";

/* ***** SECTION RESTAURANTS ***** */
.restaurants {
    display: flex;
    flex-direction: column;
    background-color: variables.$color-bg;
    padding: 30px 20px 65px;

    @include mixins.tablette {
        background-color: darken(variables.$color-bg, 5%);
    }

    &__title{
        @include mixins.tablette {
            padding-bottom: 20px;
        }
    }

    &__list{
        display: flex;
        flex-direction: column;
        gap: 15px;

        @include mixins.desktop {
            flex-direction: row;
        }
    }

    &__sublist{
        display: flex;
        flex-direction: column;
        gap: 15px;

        @include mixins.tablette {
            flex-direction: row;
        }
        @include mixins.desktop {
            width: 50%;
        }
    }    
}