@media all and (min-width: 700px) and (max-width: 1000px){
/* **********
   MAIN 
********** */
    .list{
        flex-direction: row;
        
        .sublist{
            display: flex;
            flex-direction: row;
        }
    }

}