// @use "../utils/variables";
@use "../utils/mixins";

/* /////////////
   COMPONENTS
///////////// */

/* ***** BOUTON ****** */
.btn{
    padding: 12px 20px;
    color: white;
    font-weight: 500;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: all 200ms ease-in-out;

    @include mixins.linear-gradient;
    @include mixins.box-shadow;

    &:hover{
        opacity: 0.8;

        @include mixins.box-shadow($opacity: 1);
    } 
} 

.btn--large{
    padding: 15px 55px;
}
