// @use "../utils/variables";
@use "../utils/mixins";


/* ***** HEART ***** */
.heart{
    position: relative;
    width: 35px;
    height: 35px;
    
    &:hover .heart__icon--solid{
        transform: scale(1.3);
    }

    &__icon{
        font-size: 150%;
        position: absolute;
        left: 5px;
        top: 2px;

        &--solid{
            color: transparent;
            background-clip: text;
            transform: scale(0);
            transition: transform 200ms ease;

            @include mixins.linear-gradient($direction:to top);
        }
    }
}
