@use "../utils/variables";

/* ***** LOADING SPINNER ***** */
.loading-spinner{
    position: fixed;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: variables.$color-bg;
    opacity: 0.8;
    animation: vanishing 500ms 3s; // shorthand -> forwards , bottom?
    animation-fill-mode: forwards;
    transform-origin: bottom;

    i{
        font-size: 400%;
        color: transparent;
        -webkit-text-fill-color: transparent; 
        background-clip: text;
        -webkit-background-clip: text;
        background-image: linear-gradient(to top, variables.$color-secondary, variables.$color-primary);                    
        animation: spinner 1000ms infinite ease;
    }
}