$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;

/* ==========
   WILDCARD 
========== */
*{
    box-sizing: border-box;
    font-family: "Roboto", "sans-serif";
}

/* ++++++++++
   BODY 
++++++++++ */
body{
    margin: 0; 
    min-width: 250px;
}

h1, h3, p{
    margin: 0; 
}

a{
    color: inherit;
    text-decoration: none;
}

/* ----------
   HEADER 
---------- */
.logo-container{
    position: relative;
    padding: 10px;
    text-align: center;
    box-shadow: 0 0 5px grey;

    img{
        width: 175px;
    }
}

// header{
//     border: 2px solid blue;
// }
// .logo-container{
//     border: 2px solid red;
// }
// .logo-container img{
//     border: 2px solid yellow;
// }


/* **********
   MAIN 
********** */
/* ***** SECTION SEARCH ***** */
.search{
    background-color: #e9e9e9;
    text-align: center;

    form > *{
        font-size: 104%;
    }

    input{
        padding: 14px 15px;
        background-color: #e9e9e9;       
        font-weight: bold;
        border: none;

        &:focus-visible{
            outline: none;
        }
    }

    &__heading{
        padding: 35px 25px 50px;
        background-color: #f3f3f3;

        h1{
            font-size: 150%;
        }

        &-info{
            font-weight: 300;
            padding: 10px 0 25px;
            opacity: 0.75;
        }

        button{
            padding: 12px 20px;
            background-image: linear-gradient(170deg, $color-secondary, $color-primary);
            color: white;
            font-weight: 500;
            border: none;
            border-radius: 25px;
            box-shadow: 0 5px 5px lightgrey; /*mixin*/
        }   
    }
}

/* ***** SECTION FUNCTIONNING ***** */
.functionning{
    padding: 40px 20px 50px;

    h2{
        margin: 0 0 25px 0;
    }
    
    div{
        display: flex;
        align-items: center;
        margin: 0 0 20px 10px;
        padding: 25px 0;
        border-radius: 20px;
        background-color: #f3f3f3;
        box-shadow: 0 5px 5px lightgrey; /*mixin*/


        .bullet{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 22px;
            height: 22px;
            position: relative;
            font-size: 75%;
            right: 12px;
            border-radius: 15px;
            background-color: $color-primary;
            color: white;
        }

        span{
            display: flex;
            flex-direction: start;
            width: 35px;
            margin-left: 10px;
            color: grey;
        }

        .purple{
            color: $color-primary;
        }

        .title{
            font-weight: 500;
        }
    }
}

// main{
//     border: 2px solid blue;
// }
// .search{
//     border: 2px solid red;
// }
// form{
//     border: 2px solid yellow;
// }
// form > *{
//     border: 2px solid green;
// }
// i{
//     border: 2px solid purple;
// }


/* ***** SECTION RESTAURANTS ***** */
.restaurants {
    display: flex;
    flex-direction: column;
    background-color: #f3f3f3;
    padding: 30px 20px 65px;

    .list{
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .sublist{
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    
    .card{
        .img-container {
          width: 100%;
          height: 170px;
    
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 15px 15px 0 0;
          }
        }
    
        .info-container {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 10px 25px 10px 10px;
          height: 75px;
          border-radius: 0 0 15px 15px;
          background-color: white;

          .info{
              h3{
                  padding-bottom: 5px;;
              }
          }

          span{
              font-size: 150%;
              color: grey;
          }

          i:hover{
            font-weight: bold;
            color: $color-primary;
          }
        }
    }
}
  
  
  
  
  /* #restaurants{
      border: 2px solid blue;
  }
  #restaurants > *{
      border: 2px solid red;
  }
  #list > *{
      border: 2px solid yellow;
  }
  .card{
      border: 2px solid green;
  }
  .card > *{
      border: 2px solid purple;
  }
  .img-container > *,
  .info-container > *{
      border: 2px solid orange;
  }
  .info > *{
      border: 2px solid turquoise; 
  } */





/* //////////
   FOOTER 
////////// */


/* 
            BORDER  
{
    border: 2px solid blue;
}
{
    border: 2px solid red;
}
{
    border: 2px solid yellow;
}
{
    border: 2px solid green;
}
{
    border: 2px solid purple;
}
{
    border: 2px solid orange;
}
{
    border: 2px solid turquoise; 
} 
*/