/* ==========
   WILDCARD 
========== */
* {
  box-sizing: border-box;
  font-family: "Roboto", "sans-serif";
}

/* ++++++++++
   BODY 
++++++++++ */
body {
  margin: 0;
  min-width: 250px;
}

h1, h3, p {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

/* ----------
   HEADER 
---------- */
.logo-container {
  position: relative;
  padding: 10px;
  text-align: center;
  box-shadow: 0 0 5px grey;
}
.logo-container img {
  width: 175px;
}

/* **********
   MAIN 
********** */
/* ***** SECTION SEARCH ***** */
.search {
  background-color: #e9e9e9;
  text-align: center;
}
.search form > * {
  font-size: 104%;
}
.search input {
  padding: 14px 15px;
  background-color: #e9e9e9;
  font-weight: bold;
  border: none;
}
.search input:focus-visible {
  outline: none;
}
.search__heading {
  padding: 35px 25px 50px;
  background-color: #f3f3f3;
}
.search__heading h1 {
  font-size: 150%;
}
.search__heading-info {
  font-weight: 300;
  padding: 10px 0 25px;
  opacity: 0.75;
}
.search__heading button {
  padding: 12px 20px;
  background-image: linear-gradient(170deg, #FF79DA, #9356DC);
  color: white;
  font-weight: 500;
  border: none;
  border-radius: 25px;
  box-shadow: 0 5px 5px lightgrey;
  /*mixin*/
}

/* ***** SECTION FUNCTIONNING ***** */
.functionning {
  padding: 40px 20px 50px;
}
.functionning h2 {
  margin: 0 0 25px 0;
}
.functionning div {
  display: flex;
  align-items: center;
  margin: 0 0 20px 10px;
  padding: 25px 0;
  border-radius: 20px;
  background-color: #f3f3f3;
  box-shadow: 0 5px 5px lightgrey;
  /*mixin*/
}
.functionning div .bullet {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 22px;
  height: 22px;
  position: relative;
  font-size: 75%;
  right: 12px;
  border-radius: 15px;
  background-color: #9356DC;
  color: white;
}
.functionning div span {
  display: flex;
  flex-direction: start;
  width: 35px;
  margin-left: 10px;
  color: grey;
}
.functionning div .purple {
  color: #9356DC;
}
.functionning div .title {
  font-weight: 500;
}

/* ***** SECTION RESTAURANTS ***** */
.restaurants {
  display: flex;
  flex-direction: column;
  background-color: #f3f3f3;
  padding: 30px 20px 65px;
}
.restaurants .list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.restaurants .sublist {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.restaurants .card .img-container {
  width: 100%;
  height: 170px;
}
.restaurants .card .img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}
.restaurants .card .info-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 25px 10px 10px;
  height: 75px;
  border-radius: 0 0 15px 15px;
  background-color: white;
}
.restaurants .card .info-container .info h3 {
  padding-bottom: 5px;
}
.restaurants .card .info-container span {
  font-size: 150%;
  color: grey;
}
.restaurants .card .info-container i:hover {
  font-weight: bold;
  color: #9356DC;
}

/* #restaurants{
    border: 2px solid blue;
}
#restaurants > *{
    border: 2px solid red;
}
#list > *{
    border: 2px solid yellow;
}
.card{
    border: 2px solid green;
}
.card > *{
    border: 2px solid purple;
}
.img-container > *,
.info-container > *{
    border: 2px solid orange;
}
.info > *{
    border: 2px solid turquoise; 
} */
/* //////////
   FOOTER 
////////// */
footer {
  padding: 25px 20px 30px;
  background-color: black;
  color: white;
  opacity: 0.85;
}
footer p {
  font-family: "Shrikhand";
  padding-bottom: 10px;
}
footer li {
  padding-bottom: 10px;
}
footer li i {
  display: flex;
  flex-direction: start;
  width: 16px;
  font-size: 80%;
  margin-right: 15px;
}

/* 
            BORDER  
{
    border: 2px solid blue;
}
{
    border: 2px solid red;
}
{
    border: 2px solid yellow;
}
{
    border: 2px solid green;
}
{
    border: 2px solid purple;
}
{
    border: 2px solid orange;
}
{
    border: 2px solid turquoise; 
} 
*/

/*# sourceMappingURL=style.css.map */
