/* ==========
   WILDCARD 
========== */
*{
    box-sizing: border-box;
    font-family: "Roboto", "sans-serif";
}

/* ++++++++++
   BODY 
++++++++++ */
body{
    margin: 0; 
    min-width: 250px;
}

/* ----------
   HEADER 
---------- */
.logo-container{
    position: relative;
    padding: 10px;
    text-align: center;
    box-shadow: 0 0 5px grey;
}

// header{
//     border: 2px solid blue;
// }
// .logo-container{
//     border: 2px solid red;
// }
// .logo-container img{
//     border: 2px solid yellow;
// }


/* **********
   MAIN 
********** */
/* ***** SECTION SEARCH ***** */
.search{
    background-color: #e9e9e9;
    text-align: center;

    form > *{
        font-size: 110%;
    }

    input{
        padding: 20px;
        background-color: #e9e9e9;       
        font-weight: bold;
        border: none;

        &:focus-visible{
            outline: none;
        }
    }
}

// main{
//     border: 2px solid blue;
// }
// .search{
//     border: 2px solid red;
// }
// form{
//     border: 2px solid yellow;
// }
// form > *{
//     border: 2px solid green;
// }
// i{
//     border: 2px solid purple;
// }





/* //////////
   FOOTER 
////////// */


/* 
            BORDER  
{
    border: 2px solid blue;
}
{
    border: 2px solid red;
}
{
    border: 2px solid yellow;
}
{
    border: 2px solid green;
}
{
    border: 2px solid purple;
}
{
    border: 2px solid orange;
}
{
    border: 2px solid turquoise; 
} 
*/